
.selected-saber-container{
    font-size: 1.3rem;
}
.saber{
    width: 95%;
}
.electronic-options{
    display: flex;
    gap: 1em;
}
.pixel-button, .proffie-button{
    background: none;


}


.keep-shopping-button{
    margin-top: 1em;
}